
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.log
*.tlog
*.pdb
*.tmp
*.csproj
*.db
.vs/
Build/
Content/AbandonedFactory/
Content/ScifiWeapons/
Content/Custom/